*{
    margin: 0;
    padding: 0;
}
.form{
    display: flex;
    width: 75%;
    margin: 0px auto;
    flex-direction: column;
}
.form h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.2rem;
}
[type="text"]{
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none;
    padding-left:0.5rem;
    background-color: #E8F0FE;
}
.form input{
    height:40px;
}

.form{
    font-family:'Ubuntu', sans-serif;
}